---
Checks: "*,
  -abseil-*,
  -altera-*,
  -android-*,
  -boost-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -modernize-use-trailing-return-type,
  -zircon-*,
  -readability-else-after-return,
  -readability-static-accessed-through-instance,
  -readability-avoid-const-params-in-decls,
  -misc-non-private-member-variables-in-classes,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-isolate-declaration,
  -readability-math-missing-parentheses,
  -readability-function-cognitive-complexity,
  -*-magic-numbers,
  -readability-implicit-bool-conversion,
  -bugprone-easily-swappable-parameters,
  -hicpp-braces-around-statements,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-constant-array-index"
WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: 'file'
